.book-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribute space evenly around books */
    gap: 10px; /* Adjust the gap between books as needed */
}